
<div>
    <ul>
       <!--הטודו שאחרי הדטה זה הטודו שאחרי המילה לט-->
       <!--טודוס זה שם המערך-->
      <item *ngFor = "let item of items"
          [data] = "item"
          >
   <!--   {{todo.text}} - {{todo.id}}-->
    </item>
    </ul>
  </div>