<mat-card class="example-card">
  <mat-card-content>

        <a *ngIf = "!(authService.user | async)" routerLink = "/login">Login</a>

     
         <!--אם המשתמש מחובר, יש להציג את כפתור הלוגאווט-->
         <button *ngIf = "authService.user | async" (click) = "logout()">
           Logout
         </button>-


      <button (click) = "toItems()">
          Items
      </button>-
      
  </mat-card-content>
</mat-card>

<!--לברך את היוזר לשלום-->
<!--הפסקה צריכה להופיע רק כאשר יוזר מחובר-->
<div *ngIf="authService.user | async"> <!--אם קיים, תציג את הברוך הבא אחרת אל-->
    <h1>Welcome {{(authService.user | async)?.email}}</h1> <!--הסימן שאלה משמע אם קיים למשוך, אחרת להתעלם-->
<!--הדרך לקרוא לאובסרבייבל מתוך HTML--> 
</div>

<!--
    יציג תמיד! כל עוד לא מחובר 
<div *ngIf="!(authService.user | async)"> 
    Please login to see your list of items
    </div>
-->
