<!--<li  -->
    <!--צק בוקס-->
<mat-card>
    <mat-card-content>      
        <section class="example-section"
                (mouseenter) = "showButton()"
                (mouseleave) = "hideButton()">
         
           <mat-checkbox class="example-margin" 
                        [(ngModel)]="isInInventory"
                        (change) = "changeInventory()">
        
            {{name}} - {{price}} - {{status}}
            </mat-checkbox>

    <button mat-raised-button
        (click) = "delete()"
        *ngIf = "showTheButton && showDelete">
         Delete
    </button>


    <button mat-raised-button 
        *ngIf = "deleteField"
        (click) = "deleteitem()">
        Click to Delete
    </button>

  <button mat-raised-button 
    *ngIf = "deleteField"
    (click) = "cancel()">
        Cancel
    </button>

        </section>
    </mat-card-content>
</mat-card>
    <!--
</li>-->