<!--
    יציג  כל עוד לא מחובר  -->
<div *ngIf="!(authService.user | async)"> 
    Please login to see your list of items
    </div>


    <!--
        הקוד של רוני להציג בין התפריט לאייטמס
        <mat-card>
  <mat-card-content>
    <p *ngIf="authService.user | async">Welcome {{ (authService.user | async)?.email }}!</p>
    <p *ngIf="!(authService.user | async)">Please login to see your books</p>
  </mat-card-content>
</mat-card> 
    -->